.body {
    background: linear-gradient(to right, #2a2a4a, #474380, #2a2a4a); 
    margin: 0;
    min-height: 100vh;
}

.list-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    row-gap: 15px;
    margin-top: 430px;
    margin-bottom: 450px;
    height: 100%;
    color: #fff; 
}

/* --------------------------------------------------------------------------- */
.element {
    display: flex;
    flex-direction: row;
    gap: 15px;
    opacity: 0.8;
    background-color: rgb(89, 173, 221);
    border-radius: 10px;
    padding: 8px 14px;
    margin: 10px;
    width: 90%; /* Adjust width to be responsive */
    height: 160px;
    max-width: 750px; /* Limit maximum width */
    min-height: 130px;
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.913);
    overflow: hidden;
    word-wrap: break-word;  
    transition: height 2s ease-in-out;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.image {
    width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
   /* height: 150px; */
   border: #3fa5a0 solid 2px;
    border-radius: 10px;
}

.text {
    font-size: 1.3rem; /* Use relative font size */
    font-family: Arial, Helvetica, sans-serif;
    flex: 1; /* Allow text to take remaining space */
}

.text strong {
    margin-top: 11px;
    display: block;
    font-size: 1.9rem; /* Slightly larger for title */
    margin-bottom: 3px;
}

/* ---------------------------------------------------------------------- */
/* removed the adding element part.*/
/* ------------------------------------------------------------------------ */
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.4;
    }
    to {
        opacity: 1;
        scale: 1; 
    }
}

.hide {
    visibility: hidden;
}

/* ------------------------------------------------------------------------ */
