.body {
    background: linear-gradient(to right, #2a2a4a, #474380, #2a2a4a); 
    margin: 0;
    height: 100vh;
}

.list-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    row-gap: 15px;
    margin-top: 450px;
    margin-bottom: 450px;
    height: 100%;
    color: #fff; 
}

.element{
    opacity: 0.8;
    background-color: rgb(89, 173, 221);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 750px;
    min-height: 130px;
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.913);
    /* position: sticky;
    top: 0; */

    /* animation:appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%; */

    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.adding-element{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.4;
    }
    to{
        opacity: 1;
        scale: 1; 
    }
}